* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

html {
    background-color: rgb(20, 25, 30);
    color: rgb(200, 200, 220);
}

body * {
    display: block;
}

Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-bottom: solid 1px rgb(50, 60, 70);
}

Header > img {
    height: 2rem;
    aspect-ratio: 1 / 1;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

Section {
    padding: 1rem;
    border-bottom: solid 1px rgb(50, 60, 70);
}

Console {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    height: 25rem;
    color: white;
    max-width: 50rem;
}

ConsoleView {
    padding: 1rem;
    border-radius: 1rem 1rem 0px 0px;
    background-color: black;
    flex-grow: 1;
    overflow-y: scroll;
}

ConsoleView::-webkit-scrollbar {
    width: 5px;
}
 
ConsoleView::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

ConsoleInputWrapper {
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
}

ConsoleNameField {
    padding: .75rem;
    border-right: solid 1px rgb(50, 60, 70);
    border-radius: 0px 0px 0px 1rem;
}

ConsoleNameField:focus {
    background-color: rgb(10, 15, 20);
}

ConsoleInputField {
    padding: .75rem;
    padding-bottom: calc(.75rem - 5px);
    border-right: solid 1px rgb(50, 60, 70);
    flex-grow: 1;
    overflow-x: scroll;
    white-space: nowrap;
}

ConsoleInputField:focus {
    background-color: rgb(10, 15, 20);
}

ConsoleInputField[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgb(50, 60, 70);
}

ConsoleInputField[placeholder]:empty:focus::before {
    content: "";
}

ConsoleInputField::-webkit-scrollbar {
    height: 5px;
}
 
ConsoleInputField::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

ConsoleInputSendButton {
    cursor: pointer;
    padding: .75rem;
    font-weight: 400;
}

ConsoleInputSendButton:hover {
    background-color: rgb(50, 60, 70);
    border-radius: 0px 0px 1rem 0px;
}

ConsoleCommandButton {
    cursor: pointer;
    display: inline-block;
    margin-right: .75rem;
    padding: .75rem;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 1rem;
}

ConsoleCommandButton:hover {
    background-color: rgb(50, 60, 70);
}


CharacterSheet {
    margin: 1rem auto;
    max-width: 50rem;
}

InputField {
    min-height: 1rem;
    padding: .5rem;
    border: solid 1px rgb(50, 60, 70);
}

InputField:focus {
    background-color: rgb(10, 15, 20);
}

Spacer {
    margin-bottom: 2rem;
}