* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

html {
    background-color: rgb(20, 25, 30);
    color: rgb(200, 210, 220);
}

body * {
    display: block;
}

::-webkit-scrollbar {
    width: .5rem;
    cursor: default;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(200, 210, 220);
    cursor: default;
}

body::-webkit-scrollbar {
    width: .65rem;
    cursor: default;
    border-left: solid 1px rgb(50, 60, 70);
}

Header {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 1rem;
    background-color: rgb(20, 25, 30);
    box-shadow: rgba(0, 0, 0, 0.35) 0rem .5rem .5rem;
}

Header > img {
    height: 2rem;
    aspect-ratio: 1 / 1;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

Header > h1 {
    flex-grow: 1;
    font-weight: 100;    
}

VersionString {
    color: rgb(50, 60, 70);
}

Section {
    padding: 1rem;
    border-bottom: solid 1px rgb(50, 60, 70);
}

Console {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    height: 35rem;
    color: white;
    max-width: 50rem;
}

ConsoleView {
    padding: 1rem;
    background-color: rgb(10, 15, 20);
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: solid 1px rgb(50, 60, 70);
    border-right: solid 1px rgb(50, 60, 70);
}

ConsoleView::-webkit-scrollbar {
    width: .5rem;
    cursor: default;
}
 
ConsoleView::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: default;
    background-color: rgb(200, 210, 220);
}

ConsoleViewSection {
    user-select: text;
    margin-bottom: .75rem;
    display: grid;
}

ConsoleBubbleOut {
    user-select: text;
    background-color: rgb(155, 62, 104);
    border-radius: 1rem;
    display: inline-block;
    padding: .75rem;
    justify-self: left;
}

ConsoleBubbleChat {
    user-select: text;
    background-color: rgb(105, 54, 136);
    border-radius: 1rem;
    display: inline-block;
    padding: .75rem;
    justify-self: right;
}

ConsoleBubbleChat > p {
    user-select: text;
    padding: .75rem;
    margin-top: .75rem;
    background-color: rgb(10, 15, 20);
    border-radius: .75rem;
    color: white;
}

ConsoleBubbleError {
    user-select: text;
    background-color: rgb(137, 0, 0);
    border-radius: 1rem;
    display: inline-block;
    padding: .75rem;
    justify-self: left;
}

ConsoleBubbleError > p {
    user-select: text;
    padding: .75rem;
    margin-top: .75rem;
    background-color: rgb(10, 15, 20);
    border-radius: .75rem;
    color: white;
}

ConsoleBubbleFiltered {
    user-select: text;
    border: solid 1px rgb(50, 60, 70);
    background-color: rgb(20, 25, 30);
    border-radius: 1rem;
    display: inline-block;
    padding: .75rem;
    justify-self: left;
}

ConsoleBubbleFiltered > p {
    user-select: text;
    padding: .75rem;
    margin-top: .75rem;
    background-color: rgb(10, 15, 20);
    border: solid 1px rgb(50, 60, 70);
    border-radius: .75rem;
    color: white;
}

FilteredOptionsButton {
    margin-top: .75rem;
    cursor: pointer;
    display: inline-block;
    padding: .5rem;
    border: solid 1px rgb(155, 62, 104);
    background-color: rgb(155, 62, 104);
    border-radius: 1rem;
}

FilteredOptionsButton:hover {
    color: white;
    background-color: rgb(122, 42, 78);
    border-color: rgb(122, 42, 78);
}

ConsoleBubbleIn {
    user-select: text;
    background-color: royalblue;
    border-radius: 1rem;
    display: inline-block;
    padding: .75rem;
    justify-self: right;
}

ConsoleInputWrapper {
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: 1rem;
}

ConsoleHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 1rem 1rem 0px 0px;
    padding: .5rem;
    font-weight: 600;
    color: rgba(200, 210, 220, .85);
}

ConsoleNameField {
    padding: .75rem;
    border-right: solid 1px rgb(50, 60, 70);
    border-radius: 0px 0px 0px 1rem;
}

ConsoleNameField:focus {
    background-color: rgb(10, 15, 20);
}

ConsoleInputField {
    padding: .75rem;
    padding-bottom: calc(.75rem - 5px);
    border-right: solid 1px rgb(50, 60, 70);
    flex-grow: 1;
    overflow-x: scroll;
    white-space: nowrap;
}

ConsoleInputField:focus {
    background-color: rgb(10, 15, 20);
}

ConsoleInputField[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgb(50, 60, 70);
}

ConsoleInputField[placeholder]:empty:focus::before {
    content: "";
}

ConsoleInputField::-webkit-scrollbar {
    cursor: default;
    height: .5rem;
}
 
ConsoleInputField::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: default;
    background-color: rgb(200, 210, 220);
}

ConsoleInputSendButton {
    cursor: pointer;
    padding: .75rem;
    font-weight: 400;
}

ConsoleInputSendButton:hover {
    background-color: rgb(50, 60, 70);
    border-radius: 0px 0px 1rem 0px;
}

ConsoleCommandButton {
    cursor: pointer;
    display: inline-block;
    margin-right: .75rem;
    padding: .75rem;
    border: solid 1px rgb(50, 60, 70);
    border-radius: 1rem;
}

ConsoleCommandButton:hover {
    background-color: rgb(50, 60, 70);
}

CharacterSheet {
    margin: 1rem auto;
    max-width: 50rem;
}

InputField {
    min-height: 1rem;
    padding: .5rem;
    border: solid 1px rgb(50, 60, 70);
    border-radius: .5rem;
}

InputField:focus {
    background-color: rgb(10, 15, 20);
}

InputField[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgb(50, 60, 70);
}

InputField[placeholder]:empty:focus::before {
    content: "";
}

Spacer {
    margin-bottom: 2rem;
}

Config {
    margin: 1rem;
    width: 24rem;
    max-width: 35rem;
}

ConfigLong {
    display: block;
    width: 50rem;
    margin: 1rem auto;
}

Auth {
    display: none;
    margin: 1rem auto;
    max-width: 50rem;
}

ConfigLine {
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border: solid 1px rgb(50, 60, 70);
    align-items: center;
    padding: .75rem;
}

ConfigLine > Label {
    flex-grow: 1;
}

ConfigWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

FlipFlop {
    cursor: pointer;
    padding: .5rem .75rem;
    border-radius: 1rem;
    border: solid 1px rgb(50, 60, 70);
}

FlipFlop:hover {
    background-color: rgb(50, 60, 70);
}

FlipFlop[value="on"] {
    color: white;
    background-color: rgb(155, 62, 104);
    border-color: rgb(155, 62, 104);
}

FlipFlop[value="on"]:hover {
    background-color: rgb(122, 42, 78);
    border-color: rgb(122, 42, 78);
}

.NumberInputBox {
    background-color: transparent;
    border-radius: 1rem;
    color: rgb(200, 210, 220);
    min-height: 1rem;
    padding: .5rem .75rem;
    border: solid 1px rgb(50, 60, 70);
    width: 1.5rem;
    text-align: center;
}

.NumberInputBox:focus {
    background-color: rgb(10, 15, 20);
}

.TextInputBox {
    background-color: transparent;
    border-radius: 1rem;
    color: rgb(200, 210, 220);
    min-height: 1rem;
    padding: .5rem .75rem;
    border: solid 1px rgb(50, 60, 70);
    width: 15rem;
    text-align: center;
}

.TextInputBox:focus {
    background-color: rgb(10, 15, 20);
}

select {
    background-color: rgb(20, 25, 30);
    border-radius: .75rem;
    border: solid 1px rgb(50, 60, 70);
    padding: .5rem;
    color: rgb(200, 210, 220);
    font-size: 1rem;
}

select:hover {
    background-color: rgb(10, 15, 20);
}

#char_exd {
    max-height: 20rem;
    overflow-y: scroll;
}

#char_exd::-webkit-scrollbar {
    width: .5rem;
    cursor: default;
}
 
#char_exd::-webkit-scrollbar-thumb {
    cursor: default;
    border-radius: 10px;
    background-color: rgb(200, 210, 220);
}

CharacterSaveButton {
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(50, 60, 70);
    padding: .75rem;
    border-radius: 1rem;
    margin-right: .75rem;
}

CharacterSaveButton:hover {
    background-color: rgb(50, 60, 70);
}

CharacterDownloadButton {
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(50, 60, 70);
    padding: .75rem;
    border-radius: 1rem;
}

CharacterDownloadButton:hover {
    background-color: rgb(50, 60, 70);
}

ConfigSaveButton {
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(50, 60, 70);
    padding: .75rem;
    border-radius: 1rem;
    margin-right: .75rem;
    margin-top: 1rem;
}

ConfigSaveButton:hover {
    background-color: rgb(50, 60, 70);
}

AuthSaveButton {
    cursor: pointer;
    display: inline-block;
    border: solid 1px rgb(50, 60, 70);
    padding: .75rem;
    border-radius: 1rem;
    margin-right: .75rem;
    margin-top: 1rem;
}

AuthSaveButton:hover {
    background-color: rgb(50, 60, 70);
}

AuthBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

AuthBanner > h2 {
    display: inline-block;
}

AuthBanner > p {
    flex-grow: 1;
    padding: 0px 2rem;
    display: inline-block;
    color: rgb(50, 60, 70);
}

DisplayAuthButton {
    cursor: pointer;
    display: inline-block;
    padding: .25rem .75rem;
    padding-top: .35rem;
    border-radius: 1rem;
    border: solid 1px rgb(50, 60, 70);
}

DisplayAuthButton:hover {
    background-color: rgb(50, 60, 70);
}

.slider {
    flex-grow: 1;
    margin-right: .75rem;
}

RangeLine {
    display: flex;
    flex-direction: row;
}

RangeLine > Label {
    width: 2rem;
}

.BigRedButton {
    color: white;
    background-color: rgb(155, 62, 104);
    border-color: rgb(155, 62, 104);
}

.BigRedButton:hover {
    color: white;
    background-color: rgb(122, 42, 78);
    border-color: rgb(122, 42, 78);
}