w-AI-fu/bad_words/bad_words.txt
w-AI-fu/node_modules/
w-AI-fu/novel/__pycache__/
w-AI-fu/novel/tts.mp3
w-AI-fu/novel/tts.wav
w-AI-fu/devices/device.txt
Run w-AI-fu.lnk
w-AI-fu/ffmpeg/ffmpeg.exe
